.btn.bg-primary {
    color: white;
}
.bg-orange {
    background-color: #ee4d2d;
    color: white;
}
.text-orange {
    color: #ee4d2d;
}
.bg-pink {
    background-color: pink;
    color: white;
}
.text-pink {
    color: pink;
}
.bg-whitesmoke {
    /* background-color: whitesmoke; */
    background-color: whitesmoke;
}